#cabecera {
    color: #154360;
    --background: #ECF0F1;

    ion-title {
        font-size: 18px;
    }
}
ion-content {
    --background: #ECF0F1;

    ion-icon {
        color: #154360;
        font-size: 28px;
    }

    ion-card {
        --background: #ffffff;
        
        ion-card-title {
            --color: #154360;
        }

        #titulo {
            ion-button {
                margin: 0px;
                margin-top: -15px;
            }
        }

        ion-card-content{
            ion-label {
                h2{
                    color: #154360;
                    font-size: 12px;
                    margin-bottom: 8px;
                }
                p{
                    color: #000;
                    font-size: 12px;
                }
            }
        }
    }

    #enfer{
        --background: #ffffff;

        ion-list {
            background: #ffffff;
        }

        ion-item {
            --background: #ffffff;
            color: #000;
        }
    }
}
ion-footer{
    height: 3rem;

    .nav{
        background: #ECF0F1;
    }
    
    ion-button {
        --background: #ECF0F1;
        height: 3rem;
        width: 3rem;
        color: #154360;
    }
    #home{
        margin-left: 1.5rem;
        ion-icon {
            font-size: 28px;
        }
    }
    #horario{
        margin-left: 1.5rem;
        ion-icon {
            font-size: 28px;
        }
    }
    #More{
        margin-left: 1.5rem;
        ion-icon {
            font-size: 28px;
        }
    }
    #datos{
        margin-left: 1.5rem;
        ion-icon {
            font-size: 28px;
        }
    }
    #profile{
        margin-left: 1.5rem;
        ion-icon {
            font-size: 28px;
        }
    }
}